name: MainDeploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
            fetch-depth: 0
      - name: Build And Test Project
        uses: actions/setup-node@v3
        with:
            node-version: 18.x
      - run: npm i
      - run: npm run build
      - run: npm run test
      
      - if: ${{ github.event_name == 'push' && success() }}
        name: Publish NPM
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          
      - if: ${{ github.event_name == 'push' && success() }}
      - name: Generate Doc
        uses: actions/setup-node@v3
        with:
            node-version: 18.x
      - run: npm run doc
      
      - if: ${{ github.event_name == 'push' && success() }}
        name: Publish HTML to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GIT_TOKEN }}
          publish_dir: ./docs
          enable_jekyll: false
          
